GROQ_API_KEY=your_primary_groq_api_key_here
GROQ_API_KEY_1=your_fallback_groq_api_key_1_here
GROQ_API_KEY_2=your_fallback_groq_api_key_2_here
GROQ_API_KEY_3=your_fallback_groq_api_key_3_here
GROQ_API_KEY_4=your_fallback_groq_api_key_4_here
GROQ_API_KEY_5=your_fallback_groq_api_key_5_here
